# census.xls   -->   census.csv

In [2]:
import pandas as pd

In [31]:
census = pd.read_excel("DATA/dist_barr_pobl.xls")

census.drop(range(135,139),inplace=True)
census.drop(range(0,4),inplace=True)
census=census.reset_index()
census = census.drop(columns=["Unnamed: 2","index"])
census.columns = ["Distrito","Barrio","Población"]

census.to_csv("DATA/dist_barr_pobl.csv", index=False)

In [32]:
elecc = pd.read_excel("DATA/Elecciones2021.xls")

In [36]:
elecc=elecc[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 3", "Unnamed: 4"]]

In [38]:
elecc.columns=["Distrito", "Barrio", "Sección", "Mesa", "Censo"]

In [43]:
elecc.drop(range(3398,3401),inplace=True)
elecc.drop(range(0,11),inplace=True)

In [45]:
elecc

     Distrito Barrio Sección Mesa Censo
11          1     11       1    U   880
12          1     11       2    U   640
13          1     11       3    A   633
14          1     11       3    B   539
15          1     11       4    U   975
...       ...    ...     ...  ...   ...
3393       21    214      31    B  1006
3394       21    215      32    A   586
3395       21    215      32    B   630
3396       21    214      33    A   791
3397       21    214      33    B   866

[3387 rows x 5 columns]

In [47]:
elecc.Censo.sum()

2366031

In [48]:
elecc.Censo.mean()

698.5624446412754