# Sevilla popul

In [7]:
import pandas as pd

In [15]:
popu = pd.read_csv("DATA/sev_pobl.csv", index_col=0, encoding="latin-1")
popu

          SECCION          BARRIO           EDAD  HOMBRES  MUJERES
DISTRITO
1               1  SANTA CATALINA             00        7        8
1               1  SANTA CATALINA             01        4        5
1               1  SANTA CATALINA             02        6        3
1               1  SANTA CATALINA             03        2        8
1               1  SANTA CATALINA             04        7       12
...           ...             ...            ...      ...      ...
11             19    LOS REMEDIOS             86        2        5
11             19    LOS REMEDIOS             87        1        3
11             19    LOS REMEDIOS             88        1        5
11             19    LOS REMEDIOS             89        2        3
11             19    LOS REMEDIOS  90 y más años        7       25

[47993 rows x 5 columns]

In [17]:
len(popu.BARRIO.unique())

108